## Curious why I'm not using Helm hooks?
## It's because I don't feel like editing 
## MinIO's chart. 
apiVersion: batch/v1
kind: Job
metadata:
    name: init-storage
    labels:
      name: init-storage
spec:
    containers:
      - name: init-storage
        image: {{ docker_server }}/phase-2:v0.0.1
        env:
          - name: MINIO_ACCESSKEY
            valueFrom:
              secretKeyRef:
                name: minio
                key: accesskey
          - name: MINIO_SECRETKEY
            valueFrom:
              secretKeyRef:
                name: minio
                key: secretkey
          - name: POSTGRES_SECRET
            valueFrom:
              secretKeyRef:
                name: postgres
                key: postgres-secret
        command: 
          - "python3"
          - "-u"
          - "/app/src/python/connectors/helm_init.py"
          - "--minio"
          - "--postgres"
          - "--cassandra"
        imagePullPolicy: Always
    imagePullSecrets:
      - name: acr-creds
